body
{
    color:rgb(106, 5, 99);
    text-align: center;
    font-family: "courier";
    font-size: medium;
    margin: 0;
    padding: 0%;
}
#cabecera
{
    background: url("../imagenes/header1.jpg");
    box-shadow: 16px;
    color: rgb(23, 2, 20);
    font-weight: 700;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: 400;
    font-size: medium;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;

}
#container h1
{
    font-size: medium;
}
#post
{
    padding: 1em;
}    